[
  {riak_core, [
    {node, "test1@127.0.0.1"},
    {handoff_ip, "127.0.0.1"},
    {handoff_port, 8199},
    {platform_data_dir, "data_1"},
    {ring_state_dir, "ring_state_dir_1"},
    {schema_dirs, ["priv"]}
    %{web_port, 8198}
  ]},
  {limitless, [
    {backend, [
      % specify the backend to use
      {name, limitless_backend_minidb},
      % and the backend configuration
      {config, [
      ]}
    ]},
    {limits, [
      {token, [
        [
          % max 1000 req/day
          {type, <<"Token-Daily">>},
          {frequency, 86400}, % 1 day = 3600 * 24h
          {requests, 1000}
        ],
        [
          % max 100 req/15min
          {type, <<"Token-15min">>},
          {frequency, 900}, % 15 min = 60 * 15
          {requests, 100}
        ]
      ]}
    ]}
  ]}
].

