{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [
]}.
{profiles, [
  {test, [
    {deps, [
      {uuid,
        {git, "https://github.com/avtobiff/erlang-uuid.git",
          {branch, master}}},
      {mongopool,
        {git, "https://github.com/hachreak/mongopool.git", {branch, master}}}
    ]}
  ]}
]}.
{vim_erlang_compiler, [{profile, "test"}]}.
