{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "1.1.2"}}},
  {minidb,
    {git, "https://github.com/hachreak/minidb.git", {tag, "v0.1.0"}}},
  {uuid,
    {git, "https://github.com/avtobiff/erlang-uuid.git",
      {branch, master}}},
  {limitless,
    {git, "https://github.com/hachreak/limitless.git", {tag, "v1.1.0"}}}
]}.
