[
  {mongopool, [
    {pools, [
      {mymongopool, [
        {size, 10},
        {max_overflow, 30}
      ], [
        {database, <<"mydatabase">>},
        {host, db}
      ]}
    ]}
  ]},
  {limitless, [
    {backend, [
      % specify the backend to use
      {name, limitless_backend_mongopool},
      % and the backend configuration
      {config, [
        {table, limitless},
        {pool, mymongopool}
      ]}
    ]},
    {limits, [
      {token, [
        [
          % max 1000 req/day
          {type, <<"Token-Daily">>},
          {frequency, 86400}, % 1 day = 3600 * 24h
          {requests, 1000}
        ],
        [
          % max 100 req/15min
          {type, <<"Token-15min">>},
          {frequency, 900}, % 15 min = 60 * 15
          {requests, 100}
        ]
      ]}
    ]}
  ]}
].

